body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0;
}

.heading h2
{
    float: left;
    font-size: 23px;
    color: white;
}

.heading button
{
    float: right;
    border: 1px solid white;
    border-radius: 10px;
}

.modal-dialog
{
    width: 90%;
    height: 90%;
}

.modal-body
{
    padding: 20px;
}

li
{
    margin: 40px;
    font-size: 20px;
    color: brown;
}

.copy_right_footer
{
    position: fixed;
    color: rgb(48, 48, 48);
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
}
